# Python cache
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
media/

# Static build directories
staticfiles/
static_root/

# Virtual environments
venv/
env/

# Node / Tailwind
node_modules/
package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
